include README.md
include LICENSE
include CHANGELOG.md
recursive-include src/bitdaddy_invoke *.py
recursive-include src/bitdaddy_invoke py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
